/* Reset */   
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FF6565;
}

body {
  font-family: Arial, sans-serif;
  
}

/* Big hero section */
.hero {
  width: 1400px;
  height: 800px;
  margin: 0 auto;
  position: relative;
  background-image:url('headphones_hero_1.jpg')/* no-repeat center center*/;
  background-size: cover;
  color: white;
 /* padding: 27px 200px 0 200px;*/
}

/* Container for nav + logo */
.header-inner {
  width: 1000px;
  height: 32px;
  position: absolute;
  top: 27px;
  left: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navigation */
nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--primary-color);
}

/* Logo */
.logo img {
  max-height: 32px;
  width: auto;
}

/* Header text block below nav/logo */
.hero-content {
  margin-top: 100px;
  max-width: 600px;
  padding-top: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content h1 {
font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.4;}

/* Call to Action Button */
.cta-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 15px 40px ;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 30px;
  transition: opacity 0.3s ease;
}

.cta-button:hover,
.cta-button:active {
  opacity: 0.9;
}